<% layout('layouts/boilerplate') %> 
<body>
    <div class="row">
        <div class="col-6 offset-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"> Student: <%= student._id %></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>FirstName:</b> <%= student.firstName %></li>
              <li class="list-group-item"><b>LastName:</b> <%= student.lastName %></li>
            </ul>
            <div class="card-body">
              <a  href="/students/<%= student._id%>/edit" class="btn btn-info">Edit</a>
              <form class="d-inline" action="/students/<%=student._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
          </div>
          <a  href="/students" class="card-link">All Students</a>
        </div>
        </div>
</body>
